@model X.PagedList.IPagedList<BTL_ASPNETCORE.Models.Order>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Index.cshtml";
    var name = ViewData["name"] as string;
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Address
            </th>
            <th>
                TotalPrice
            </th>
            <th>
                Status
            </th>
            <th>
                Note
            </th>
            <th>
                CreatedAt
            </th>
            <th>
                Account
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                @if (item.status == 0)
                {
                    <td>Pending</td>
                }
                else if (item.status == 1)
                {
                    <td>Delivering</td>
                }
                else if (item.status == 2)
                {
                    <td>Completed</td>
                }
                else
                {
                    <td>Cancel</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderId" class="btn btn-success">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.OrderId" class="btn btn-info">Details</a> 
                    @if(item.status==0)
                    {
                        <a asp-action="Cancel" asp-route-id="@item.OrderId" class="btn btn-danger" onclick="return confirm('Do you sure wanna cancel this?')">Cancel</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Count == 0)
{
    if (name.Equals(""))
    {
        <p class="text-center alert-danger">NO ITEM</p>
    }
    else
    {
        <p class="text-center alert-danger">NO ITEM HAS NAME @name</p>
    }
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <div>
        @Html.PagedListPager(Model, page => Url.Action("index", "orders", new { page = page, name = name }),
                new PagedListRenderOptions
    {
        UlElementClasses = new[] { "pagination", "justify-content-center" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link", "btn", "btn-primary" }
    })
    </div>
}
