@model BTL_ASPNETCORE.Models.Dish

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Index.cshtml";
}

<h1>Details Dish</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DishName)
        </dt>
        <dd class = "col-sm-6 form-control">
            @Html.DisplayFor(model => model.DishName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-6 form-control">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd class = "col-sm-6 form-control">
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-6 form-control">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-6 form-control">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-6 form-control">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-6 form-control">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-6 form-control">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DishId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
