@model X.PagedList.IPagedList<BTL_ASPNETCORE.Models.Dish>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Index.cshtml";
    var name = ViewData["name"] as string;
}

<h1>Index</h1>
<div class="btn-success text-center">@TempData["success"]</div>
<div class="btn-danger text-center">@TempData["danger"]</div>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                DishId
            </th>
            <th>
                DishName
            </th>
            <th>
                Price
            </th>
            <th>
                SalePrice
            </th>
            <th>
                Size
            </th>
            <th>
                Image
            </th>
            <th>
                Status
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DishId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DishName)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.SalePrice)
                </td>
                @switch (item.Size)
                {
                    case 0:
                        <td>No size</td>
                        break;
                    case 1:
                        <td>Small</td>
                        break;
                    case 2:
                        <td>Medium</td>
                        break;
                    case 3:
                        <td>Large</td>
                        break;
                    default:
                        <td>No size</td>
                        break;
                }
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Image)" alt="Alternate Text" width="100px" height="100px"/>

                </td>
                @if (item.Status)
                {
                    <td>Stock</td>
                }
                else
                {
                    <td>Out of stock</td>
                }
                <td>
                    @item.Category.CategoryName
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DishId" class="btn btn-success">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.DishId" class="btn btn-info">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.DishId" class="btn btn-danger" onclick="return confirm('Do you sure wanna delete this?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Count == 0)
{
    if (name.Equals(""))
    {
        <p class="text-center alert-danger">NO ITEM</p>
    }
    else
    {
        <p class="text-center alert-danger">NO ITEM HAS NAME @name</p>
    }

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <div>
        @Html.PagedListPager(Model, page => Url.Action("index", "dishes", new { page = page, name = name }),
                new PagedListRenderOptions
    {
        UlElementClasses = new[] { "pagination", "justify-content-center" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link", "btn", "btn-primary" }
    })
    </div>
}
